In [8]:
pip install xlrd  #necessary to read the files in the personal Mac

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.11/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [4]:
#url = "/Users/elizavetazavartseva/Downloads/GSAF5.xls"

# It is need to add the location of the file in the computer and then the name of the file and .xls, like this: "/GSAF5.xls"

In [10]:
url = "/Users/anca/Desktop/Bootcamp - Ironhack/Project - Shark Attack/GSAF5.xls"

# It is need to add the location of the file in the computer and then the name of the file and .xls, like this: "/GSAF5.xls"

In [11]:
sharks_df = pd.read_excel(url)

In [7]:

sharks_df

#more than 3 word to define as specific for activity
# cut until the end of word shark
#regular expression - until , Source

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:


sharks_df.info()

In [ ]:
sharks_df.nunique()

Date              6003
Year               259
Type                12
Country            225
State              902
Location          4514
Activity          1587
Name              5683
Sex                  8
Age                243
Injury            4079
Unnamed: 11         12
Time               410
Species           1675
Source            5302
pdf               6789
href formula      6785
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
  #  Day 1: Some insights and hypothesis about data types and possible clean-up
  
 #   Column          Non-Null Count  Dtype  

 !!! Null in every column (Serie)!!! Check them ALL :P
 *!!!Clean White spaces in Columns too (ex."Species "
---  ------          --------------  -----  
* 0   Date            6944 non-null   object   !Should be Type:Date?; We need to clean it (same format) ; Split the dates dd / mm / yy in other Series (add them!); Take a look on the most common format

* 1   Year            6942 non-null   float64  !Integer; Check that Year                                                == Date(Year)

 2   Type            6926 non-null   object !Type of Attack: Should be Categorized.

* 3   Country         6894 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

* 4   State           6462 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

* 5   Location        6379 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...)

 6   Activity        6358 non-null   object !Reclasification ?How (1st idea in smaller groups with a % of similar words)

** 7   Name            6724 non-null   object !Clean countries (Spelling, lower and uppers, delete white spaces...) ; Take a look and check that the name is not repeated (ex. in class: Pepa Pig)

* 8   Sex             6365 non-null   object  !Clean ; only 2 or 3

* 9   Age             3950 non-null   object ! Should be an Integer

 10  Injury          6909 non-null   object !Wound_Reclasification ?How (1st idea in smaller groups with a % of similar words)

** 11  Unnamed: 11     6382 non-null   object !to delete

* 12  Time            3418 non-null   object !Should be Type:Date; We need to clean it (same format)

 13  Species         3812 non-null   object !Reclasification ?How (1st idea in smaller groups with a % of similar words)

 14  Source          6925 non-null   object ! for the Info_ Reclasification ?How (1st idea in smaller groups with a % of similar words) // Separate the Source from the date of the source

* 15  pdf             6799 non-null   object ?Do we need PDF if not bye bye!

* 16  href formula    6819 non-null   object !Unknown data; Hypothesis to erase!

* 17  href            6796 non-null   object !pdfs refering to the same file; Hypothesis: almost sure that we have to erase them!

* 18  Case Number     6798 non-null   object !some dates; Hypothesis: almost sure that we have to erase them!

* 19  Case Number.1   6797 non-null   object !some dates; Hypothesis: almost sure that we have to erase them!

* 20  original order  6799 non-null   float64 !float; Hypothesis: almost sure that we have to erase them!

* 21  Unnamed: 21     1 non-null      object !to delete

* 22  Unnamed: 22     2 non-null      object !to delete
dtypes: float64(2), object(21)

#For the presentation:
First approach after download the data and imported to Pandas:

In [ ]:
for column in sharks_df.columns: #Take a look in all the columns/Series: unique values
    unique_values = sharks_df[column].unique()
    print(f"Valores únicos en la columna {column}: {unique_values}")
    print("")
    print("")

Valores únicos en la columna Date: ['15 Mar 2024' '04 Mar 2024' '02 Mar-2024' ... '1883-1889' '1845-1853' nan]


Valores únicos en la columna Year: [2024. 2023. 2022. 2021. 2020. 2019. 2018. 2017.   nan 2016. 2015. 2014.
 2013. 2012. 2011. 2010. 2009. 2008. 2007. 2006. 2005. 2004. 2003. 2002.
 2001. 2000. 1999. 1998. 1997. 1996. 1995. 1984. 1994. 1993. 1992. 1991.
 1990. 1989. 1969. 1988. 1987. 1986. 1985. 1983. 1982. 1981. 1980. 1979.
 1978. 1977. 1976. 1975. 1974. 1973. 1972. 1971. 1970. 1968. 1967. 1966.
 1965. 1964. 1963. 1962. 1961. 1960. 1959. 1958. 1957. 1956. 1955. 1954.
 1953. 1952. 1951. 1950. 1949. 1948. 1848. 1947. 1946. 1945. 1944. 1943.
 1942. 1941. 1940. 1939. 1938. 1937. 1936. 1935. 1934. 1933. 1932. 1931.
 1930. 1929. 1928. 1927. 1926. 1925. 1924. 1923. 1922. 1921. 1920. 1919.
 1918. 1917. 1916. 1915. 1914. 1913. 1912. 1911. 1910. 1909. 1908. 1907.
 1906. 1905. 1904. 1903. 1902. 1901. 1900. 1899. 1898. 1897. 1896. 1895.
 1894. 1893. 1892. 1891. 1890. 1889. 1888. 1887. 1886. 1885. 1884. 1883.
 1882. 1881. 1880. 1879. 1878. 1877. 1876. 1875. 1874. 1873. 1872. 1871.
 1870. 1869. 1868. 1867. 1866. 1865. 1864. 1863. 1862. 1861. 1860. 1859.
 1858. 1857. 1856. 1855. 1853. 1852. 1851. 1850. 1849. 1847. 1846. 1845.
 1844. 1842. 1841. 1840. 1839. 1837. 1836. 1835. 1834. 1832. 1831. 1830.
 1829. 1828. 1827. 1826. 1825. 1823. 1822. 1819. 1818. 1817. 1816. 1815.
 1812. 1811. 1810. 1808. 1807. 1805. 1804. 1803. 1802. 1801. 1800. 1797.
 1792. 1791. 1788. 1787. 1786. 1785. 1784. 1783. 1780. 1779. 1776. 1771.
 1767. 1764. 1758. 1753. 1751. 1749. 1755. 1748. 1742. 1738. 1733. 1723.
 1721. 1703. 1700. 1642. 1691. 1640. 1638. 1637. 1617. 1595. 1580. 1555.
 1554. 1543. 1518. 1500. 1000.   77.    5.    0.]


Valores únicos en la columna Type: ['Unprovoked' ' Provoked' 'Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']


Valores únicos en la columna Country: ['AUSTRALIA' 'USA' 'INDIA' 'TRINIDAD' 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO'
 'NEW ZEALAND' 'EGYPT' 'Mexico' 'BELIZE' 'PHILIPPINES' 'Coral Sea' 'SPAIN'
 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR' 'FRENCH POLYNESIA'
 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL' 'SEYCHELLES'
 'ARGENTINA' 'FIJI' 'MeXICO' 'Maldives' 'South Africa' 'ENGLAND' 'JAPAN'
 'INDONESIA' 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'New Zealand' 'British Overseas Territory' 'CANADA' 'JORDAN'
 'ST KITTS / NEVIS' 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND'
 'ISRAEL' 'CHINA' 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' nan 'MAURITIUS'
 'SOLOMON ISLANDS' 'ST HELENA, British overseas territory' 'COMOROS'
 'REUNION' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON'
 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA'
 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']


Valores únicos en la columna State: ['Queensland' 'Hawaii' 'Western Australia' 'Maharashtra' nan
 'New  South Wales' 'Paradise Island' 'South Australia'
 'Eastern Cape Province' 'Sonora' 'New South Wales' 'South Island'
 'Guerrero' 'New Providence   Isoad' 'Jalisco' 'Grand  Bahama Island'
 'Florida' 'Westerm Australia' 'North Island' 'Southern Red Sea'
 'Quintana Roo' 'Belize District' 'California' 'South Carolina'
 'South Sinai' 'Bolinao' 'North Carolina' 'Valencia' 'Norte'
 "Savai'i island" 'New York' 'San Andrés Island' 'Galapagos Islands'
 'Red Sea Protectorate' 'Freeport' 'Tahiti' 'Poum' 'Providenciales Island'
 'Lucayan Lucayan Archipelago' 'New Jersey' 'Mayabeque'
 'Easten Cape Province' 'Artemisa' 'Pernambuco' 'Praslin Island'
 'South Province' 'Patagonia' 'Taveuni Island' 'Gulf of California'
 'Vaavu Atoll' 'KNZ' 'New South ales' 'Samoa' 'Texas' 'Louisiana'
 'Mississippi' 'Western  Australia' 'Victoria' 'Western Cape Province'
 'Cornwall' 'Noirth Carolina' 'Okinawa' 'Bali'
 'Hurghada, Red Sea Governorate' 'Ambergris Cay' 'Bora Bora' 'Georgia'
 'Phuket' 'Alabama' 'KZN' 'Isla De San Andres' 'Guanacoste'
 'KwaZulu-Natal' 'São Paulo.' 'Turks and Caicos' 'Nova Scotia' 'Maryland'
 'Chanthaburi Province' 'BAHAMAS' 'Galapagos' 'Aqaba' 'West Sussex'
 'Nouville' 'Ambergris Key' 'Westmoreland Parish' 'Marquesas'
 'Loyalty Islands' 'Maui' 'The Narrows' 'Raa Atoll' 'Oregon'
 ' Grand Bahama Island' 'Franklin County, Florida' 'Virgin Islands'
 'Tasmania' 'Tuamotu Islands' 'Maine' 'Bahamas' 'Exumas' 'Delaware'
 'Abaco Islands' 'Muang district of Satun province, ' 'Canary Islands'
 'Vanua Levu' 'Southland' 'Phang Nga Province' 'Praslin'
 'Central Province' 'Holquin' 'Moorea' 'Baja ' 'Saint-Gilles' 'Guam'
 'Northern Territory ' 'Cayman Islands' 'Rhode Island' 'Chatham Islands'
 'Quinta Roo' 'Lucayan Archipelago' 'Bélep Islands' 'Noumea'
 'Fernando de Noronha' 'Liaoning Province' 'New South Wales ' 'Upolo'
 'St. Marys Parish' 'Massachusetts' 'County Cork' 'Chieti, Province'
 'Guizhou Province' 'San Andres and Providencia Archipelago'
 'The Exuma Cays' 'Colima' 'Hua Hin' 'Cocos Island' 'Alifu Alifu Atoll'
 'New Providence' 'Alagoas' 'Boi Island, Victoria' 'Sepang'
 'Holquin Province' 'Pamplemousses ' ' Upolu Island' 'Shizuoka Prefecture'
 'Castellón' 'New Providence District' '40 miles off Grand Bahama Island'
 'Ascension Island' 'Majorca' 'Washington' 'Tabasco' 'Anjouan'
 'Ibiza Island' 'South Devon' 'New Providence ' 'Sharjah, '
 'Baja California Sur' 'Saint-Leu' 'Luzon Island' 'Tamaulipas'
 'Saint-Andre' 'Bimini' 'Tuamotos' 'North Province'
 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Isla Providencia' 'Suez' 'Grand Terre'
 'Boa Vista Island' 'Santa Catarina State' 'Altagracia Province'
 'Grand Cayman' 'Balneário Camboriú' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Alicante' 'Guanacaste'
 'Grand Bahama Island' 'Le Port' 'Rangiroa' 'Saint-Gilles-les-Bains'
 'Sardinia' 'Sinaloa' 'Central Tuamotu' 'd’Étang-Salé' 'Granada'
 'Cargados Carajos Shoals (St. Brandon)' 'Catalonia' 'West End'
 'Atsumi peninsula' 'Palmyra Atoll' 'Wallis and Futuna'
 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad' 'Okinawa Prefecture'
 '740 miles SE of Tarawa Atoll' 'Southern District' 'Bay of Biscay'
 'Exuma Islands' 'Saint-Paul' 'Taitung ' 'Kingston Parish'
 'Santa Cruz Island' 'Tuamotus' 'Eleuthera' 'St. Catherine' 'Palawan'
 'Mercury Islands' 'Delta' "Vava'u" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Saint-Benoit' 'Tabuk Province'
 'Antofagasta Province' "St John's" 'Santa Elena' 'East New Britain'
 'Bois-Blanc ' 'Moray' 'Puerto Rico' 'Samaná Province' 'Coast Province'
 'Primorsky Krai' 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San Andrés archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 ' Loyalty Islands' 'Saint Gilles ' 'Virginia' "Ha'api "
 'Western Province' 'Jeju Province' 'Binh Dinh Province'
 'Antsiranana Province' 'Sinai Peninsula' 'Off Vanua Levu' 'Merizo'
 'Rio Grande Do Sul' 'Dubai' 'Torres Strait' 'Eastern Province'
 'Eastern Cape  Province' 'Maputo Province' 'Bocas' 'Fife' 'Devon'
 'Makira-Ulawa Province' 'Mombasa' 'Catalunya' 'St. Johns Reef'
 'Off Green Island' 'North Region' 'Batangas province' 'Strait of Malacca'
 'Guantanamo Province' 'Maranhão' 'Red Sea' 'Batanes Provine' 'Luzon'
 'Northern Territory' ' Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Easter Ross' 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Providenciales' 'Bimini Islands' 'Muhafazat Hadramawt' 'Cook islans'
 'Surigao del Norte' 'Between Somalia & Yemen' 'Ambergris Caye'
 'Saint-Pierre' 'Kentucky' 'Andros Islands' 'Western Area'
 '300 miles from Antigua' '800 miles from land'
 '600 nm west of the Canary Islands' 'Simpson Bay' 'East Wall'
 'Inner Islands' 'Shanghai' 'Malampa Province'
 "South Ch'ungch'ong Province" 'Bay Islands' 'New Mexico'
 'Santa Isabel Province' 'Santiago de Cuba Province' 'Camaguey Province'
 'Conservatória District' 'South Carolina ' 'Kuril Islands in the Pacific'
 'Wakayama Prefecture' "Nuku'alofa" 'Saint-Benoît'
 'South Island, near Karitane north of Dunedin' 'Rocha' 'Northlands'
 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands' 'Taveuni'
 'Johnston Atoll' 'Baatan' 'Rio de Janeiro' 'Nueva Esparta'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'Louisiade Archipelago'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Adriatic Sea'
 'Ralik Chain' 'Grand Baie' "L' Etang Salé-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Marches region' 'Berry Islands' 'Transvaal' 'Gaza'
 "Grand'Anse" 'Beaufonds' 'Miyako' "L'Etang-Sale" 'Chatham Islands '
 'South Sinai, Gulf of Aqaba' 'Cat Cay' 'Missouri'
 '12 miles off the north coast' 'Saint-Paul '
 'Chatham Islands, east of New  Zealand' 'Saint-Denis' 'Vava’u'
 'Clearwater Bay' 'New Territories' 'Aichi Prefecture' 'Tafea Province'
 'Kagoshima Prefecture' 'Saint-Joseph' 'Banaadir Region' 'La Libertad'
 'Costa Blanca' 'Walkers Cay' 'On the Kowloon penisula, south of Sai Kung'
 'Ehime Prefecture' 'Tongapatu Group' 'West Africa' 'Wakaya Island'
 'North Carolina ' 'Mexico / Caribbean Sea' 'Antarctic Ocean'
 'La Saline-les-Bains' 'Sea of Japan' 'Tavenui' 'Ligurian Sea'
 "L'Etang-Salé" 'Kowloon Peninsula' 'Port Shelter' 'Laucala Island'
 'Sainte-Marie' 'Great Exuma Island' 'Sainte-Suzanne' 'Tuscany'
 'Tyrrhenian Sea' 'New Ireland' 'Valpariso Province' 'Viscayan Sea'
 'Manfredonia ' 'Tokyo Prefecture' 'Saint-Louis' 'Mindoro'
 'Between DR and Puerto Rico' 'Between Honiara & Isabel Island'
 'Florida Straits' 'Gulf of Lyons' 'Cádiz' 'Sicily' 'Andikira Fokithes'
 'Central Philippines' 'Northwest Italy' 'English Channel'
 'North & South Carolina' 'Carolina coast' 'Kumamoto Prefecture' 'Biserta'
 'Saint-Philippe' 'Chungnam' 'Eronogo Region' 'Coquimbo'
 'Pagasitikos Gulf' "St. Mary's Parish" 'Romblon Province'
 'Lamu Archipelago' 'Los Vilos' 'Island of Kos' "Ha'api" 'Madeira Islands'
 'Ho Ha Wan Marine Park' 'Southern Thailand' 'Golfo de Venezia'
 'Ralik Archipelago' 'South China Sea 200 miles from Hong Kong'
 'Reggio Calabria Province' 'Mirs Bay ' 'Genoa Province'
 'Ganges-Brahmaputra delta' ' Split-Dalmatia County' 'Florida '
 'Primorje-Gorski Kotar County ' 'Aulong Island'
 'Western Caroline Islands' 'Upolu Island' 'Antibes' 'Illeginni Atoll'
 'Istria County' 'Between Beira & Maputo' 'Istria ' 'Khuzestan Province'
 'Inhambe Province' 'Namonuito Atoll' 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'Caribbean Sea'
 'St. Andrew Parish' '200 nm southeast of Manila' 'Limpopo River'
 'New Ireland Province' 'Zadar County' 'Basrah' 'Clarendon' 'Moro Gulf'
 'Johor' 'Magdalena Department' 'Mafia Island' 'Gulf Province'
 'Morobe Province' 'Limón Province' 'Rombion Province' 'Veracruz'
 'Brindisi Province' 'Kagawa Prefecture' 'Liguria' 'Hamilton'
 'Out Islands' 'Mugla Province' 'Gibraltar' 'New Britain' 'Bay of Maputo'
 'Duke of York Islands' 'Taranto province' 'Northern Taiwan'
 'Admiralty Islands, Manus Province' 'North Sumatra'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'East of the Gulf of Aqaba'
 'Bougainville (North Solomons)' 'Victoria ' 'Okayama Prefecture'
 'San Blas' 'Connecticut' 'Lau Group' 'Caribbean Coast' 'Vita Levu'
 'San Blas Islands' 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 ' Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off coast of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago' 'Cyclades' 'Viti Levu'
 'Off the Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ºS, 142ºE' 'Kwajalein Atoll' 'East Flores'
 'Guerrrero' 'Western Luzon Island' 'Shefa Province'
 '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'United Arab Emirates'
 'Wake Island (EnenKio)' '19S, 178?E' 'Pennsylvania' '9.35N 79.35W'
 'Roncador Bank' 'Western District' 'Enroute from Suez to Aden (Yemen)'
 '180 miles southeast of Okinawa' 'Eniwetok Atoll' 'Cap-Vert Peninsula'
 'Delagoa Bay' 'In the English Channel ' 'Cook Strait'
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Between Timor & Darwin, Australia'
 'Pacific coast' 'St. Georges ' 'Eastern  Province'
 'Northwest of Viti Levu' 'West New Britain Province' 'Rigo subdistrict'
 'Masbate' '400 miles southeast of Sri Lanka' 'Lomaiviti Province'
 'Kadavu' 'Leyte Island' 'Orissa' 'Hokkaido Prefecture' 'North Palawan'
 'Queaon' 'Istria' 'PANAMA' 'In the Gulf Stream ' 'Mersin Province'
 'Guyamas' 'Between England & South Africa' 'Mindanao'
 ' Kikori River mouth' 'South Chungcheong Province' 'Ahirkapi coast'
 'Tutuila Island' 'Primorje-Gorski Kotar County'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 'South Pacific Ocean' 'Canal Zone' '1,000 miles east of Hawaii' 'Honiara'
 'Yucatan Channel' 'Havana Province' 'Karun River'
 'Abau Subdistrict,Central Province' 'New Britain, Bismarck Archipelago'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near the Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'Congreve Channel' 'St. Thomas Bay' 'Madeira'
 'Between Comores & Madagascar' 'Corfu Island' '1000 miles west of Hawaii'
 'Izo Islands' ' Primorje-Gorski Kotar County' 'Open sea' 'Aden'
 'New Ireland, Bismarck Archipelago' '18S / 50E' 'Illinois'
 'Isles del Rosario' 'Wake Island' 'Isle of Man' 'Nagasaki Prefecture'
 'Liguaria' 'Slovenia' 'South shore ' 'Buenos Aires Province'
 '330 to 350 miles east of Wake Island' 'Gulf of Panama' 'Genoa  Province'
 'Abau Sub District, Central Province' 'Teramo' 'Red Sea State' 'Curacao'
 'Port Louis Province' 'Montserrado' 'Bay of Maputu' 'Sofala Province'
 'Salerno' 'Salerno Province' 'Taranto' 'Naples Province' ' La Libertad'
 'Sago Prefecture' 'Savona' 'Southern Province' 'Jakarta Harbour'
 'Singapore Harbor' 'Calabria' 'Shatt-el-Arab River' 'Shatt-al-Arab River'
 'Calvados Archipelago' 'Shat-Al-Arab River'
 'Between Kwajalein Atoll & Johnston Island' 'Attica' 'Adana Province'
 'Bandar Ma’shur sea inlet' 'Saipan' 'Carpathian Sea' 'Kwajalein'
 'Dar-es-Salaam ' '"Head of the Gulf"' 'Ryukyu' ' North Carolina'
 'In transit between Tinian and Leyte' 'Northern Java' 'Tel Aviv'
 'Colon Province' '300 miles east of Luzon'
 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Lake Nicaragua (fresh water)'
 'Pacific Ocean' 'Near the Fiji Islands' '40 miles south of Naples '
 'Northwest of Papua New Guinea' 'Between Hawaii and U.S.A.'
 'Off South American coast' 'Makora-Ulawa Province' '04.05N-13.23W'
 'Midway Atoll' '300 miles east of St. Thomas (Virgin Islands)'
 'West of Ceylon (Sri  Lanka)' 'East Java' 'Camiguin Island'
 'Cay Sal Bank' '(Southwestern Pacific)' 'Panama City' 'Off Libya'
 'North of Pernambuco, Brazil' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'New Georgia' 'Panama Bay (Pacific Ocean)' 'Bwagaoia'
 'Western Papuan Gulf' 'Torres Strait ' 'Carabobo' 'Ascension Bay'
 'North China' 'Lower San Juan River' 'Nicoya Peninsula' 'Basrah City'
 'West Bengal' 'Queensland ' 'Argyllshire' 'Arran' 'Argyll'
 'Fishing Grounds' 'Newfoundland' 'Isle of Wight' 'Makira-Uluwa Province'
 'Northern (Oro) Province' 'Herzliyah' 'Elqui Province' 'Istanbul'
 'St Michael Parish' 'Barlavento Islands' 'Viti Levu Island'
 'Bay of Fundy' 'Manila' 'French Southern Territories' 'Niua '
 'Black River' 'Phoenix Islands' 'Cienfuegos Province' 'Santiago Island'
 'Near Puntarenas' 'Porto Seguro' 'Salinas Bay'
 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator ' 'Bay of Monaco' 'Valencia ' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Galica' 'Demerara County' 'Vera Cruz' ' Manila Bay'
 'Lucy' 'East Yorkshire' 'Cavite Province, Luzon' 'Cape Haitien' 'Leyte'
 'Halifax' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Mediterranean Sea' 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos '
 'Trieste' '5aint-Denis' 'Viti Levu group' 'Balearics' 'Málaga '
 'Georges Bank' 'Zambesi River' 'Colón Province' '30 nm from Singapore'
 'Andalucia' 'Sfax' 'South Atlantic Ocean' 'Galicia' 'Gulf of Suez' 'Java'
 'Tiburon Peninsula' 'Oaxaca' 'Harare Province' 'Khánh Hòa Province'
 'Maluku Province' 'Suez Canal' ' Nusa Tenggara' 'Between Noumea & Sydney'
 'Villa Clara Province' 'Ancona Province' 'Quezon' 'Rio San Juan'
 'Southern Cyprus' 'Syracuse' 'Western Viscayas' 'Mindoro Occidental'
 'Negros ' 'Imperia Province' 'Muala' 'East coast' 'Ratak '
 'Socotra Islands' 'Off Cape Haitien' 'Moluccas' 'Bocas del Toro'
 'Provence' 'Bay of Campeche' 'Rangoon' 'Bay of Bengal' 'Bayelsa State'
 'South Island?' 'Norfolk Island' 'Brittany' 'Line Islands'
 'Woodlark Islands' 'Munxar Reef' 'Northern Peloponnese'
 'Between Perth & Colombo' 'Gujarat' 'Lukovo' 'Cortés'
 'Somewhere between Philadelphia and Hiogo, Japan' ' New Jersey'
 "Côte d'Azur  " 'Maldonado coast' 'Western Banks' 'Andaman Islands'

In [ ]:
#Take a look of uniques per Serie

In [ ]:
sharks_df["Sex"].unique()  #Ex-Series with unique values obvious to modify:

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [ ]:
sharks_df["Injury"]  #Ex- Series with potential to have less unique values:

0       Minor injuries to back, abdomen and legs
1                 No injury, shark bit surfboard
2                       Lacerations to left foot
3                                     Leg bitten
4                 Calf of lower left leg injured
                          ...
6964                                         NaN
6965                                         NaN
6966                                         NaN
6967                                         NaN
6968                                         NaN
Name: Injury, Length: 6969, dtype: object

In [ ]:
sharks_df["Type"].unique()

array(['Unprovoked', ' Provoked', 'Provoked', 'Questionable',
       'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

# Day 2

In [12]:
sharks_df.columns = pd.Series(sharks_df.columns).apply(lambda col: col.lower())  #columns names
sharks_df.rename(columns = lambda x: x.replace(' ', '_'), inplace=True)
sharks_df.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'unnamed:_11', 'time', 'species_',
       'source', 'pdf', 'href_formula', 'href', 'case_number', 'case_number.1',
       'original_order', 'unnamed:_21', 'unnamed:_22'],
      dtype='object')

In [13]:
sharks_df["sex"].unique()

array(['F', 'M', nan, ' M', 'M ', 'lli', 'M x 2', 'N', '.'], dtype=object)

In [14]:
sharks_df["sex"].replace(' M','M', inplace=True)        #modify the sex series
sharks_df["sex"].replace('M ','M', inplace=True)
sharks_df["sex"].replace('M x 2','M', inplace=True)
sharks_df["sex"].replace('N','M', inplace=True) 
sharks_df["sex"].unique()

array(['F', 'M', nan, 'lli', '.'], dtype=object)

In [15]:
sharks_df["age"].unique()

array(['13', nan, '11', '46', '32', '29', '10', '64', '62', '39', '22',
       '15', '16', '21', '66', '52', '20', '44', '26', '47', '55', '30',
       '59', '8', '50', '45', '34', '38', '30s', '37', '9', '19', '20/30',
       '35', '65', '20s', '77', '60', 38, '49', '42', '!2', '24', '73',
       '25', '18', '50s', '58', '67', '17', '14', '6', '41', '53', '68',
       '43', '40', '51', '31', 39, 26, 58, 51, 14, 17, 10, 13, 33, 16, 40,
       49, 41, 60, 28, '40s', 68, 35, 62, 'teen', 20, 8, 22, 32, 56,
       'Teen', 12, 21, 42, 36, 18, 37, 50, 'M', 9, 24, 15, 11, 27, 57, 34,
       25, '!6', 31, 64, '!!', 47, 55, 19, 7, 71, 48, 59, 53, 54, 75,
       '45 and 15', 46, 61, 73, 52, 29, 30, 70, 23, 4, 63, 45, 44,
       '28 & 22', '22, 57, 31', '60s', "20's", 43, 65, 67, 74, '9 & 60',
       'a minor', 6, 69, 3, 82, 66, 72, '23', '12', '36', '63', '71',
       '48', '70', '18 months', '57', '7', '28', '33', '61', '74', '27',
       '3', '56', '28 & 26', '5', '54', '86', '18 or 20', '12 or 13',
       '46 & 34', '28, 23 & 30', 'Teens', 77, '36 & 26', '8 or 10', 84,
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '33 or 37', 'mid-30s',
       '23 & 20', 5, ' 30', '7      &    31', ' 28', '20?', "60's", '69',
       '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20s', 'Ca. 33', '74 ',
       '45 ', '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12',
       '? & 19', '9 months', '25 to 35', '23 & 26', 1, '(adult)',
       '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35',
       '30 & 32', '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18',
       '34 & 19', '33 & 26', '2 to 3 months', '4', 'MAKE LINE GREEN',
       ' 43', '81', '"young"', '7 or 8', 78, '17 & 16', 'F', 'Both 11',
       '9 or 10', 'young', '36 & 23', '  ', '78', 'A.M.', '?    &   14',
       '10 or 12', '31 or 33', '2½', '1', '13 or 14'], dtype=object)

In [16]:
sharks_df['age'].str.strip()
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('teen','10', inplace=True)
sharks_df["age"].replace('Teen','10', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"].replace('20/30','25', inplace=True)
sharks_df["age"] = sharks_df["age"].str.replace('s','')
sharks_df["age"] = sharks_df["age"].str.replace('!','')
sharks_df["age"] = sharks_df["age"].str.replace('?','')
sharks_df["age"].unique()

array(['13', nan, '11', '46', '32', '29', '10', '64', '62', '39', '22',
       '15', '16', '21', '66', '52', '20', '44', '26', '47', '55', '30',
       '59', '8', '50', '45', '34', '38', '37', '9', '19', '25', '35',
       '65', '77', '60', '49', '42', '2', '24', '73', '18', '58', '67',
       '17', '14', '6', '41', '53', '68', '43', '40', '51', '31', 'M', '',
       '45 and 15', '28 & 22', '22, 57, 31', "20'", '9 & 60', 'a minor',
       '23', '12', '36', '63', '71', '48', '70', '18 month', '57', '7',
       '28', '33', '61', '74', '27', '3', '56', '28 & 26', '5', '54',
       '86', '18 or 20', '12 or 13', '46 & 34', '28, 23 & 30', 'Teen',
       '36 & 26', '8 or 10', '\xa0 ', ' ', '30 or 36', '6½', '21 & ',
       '33 or 37', 'mid-30', '23 & 20', ' 30', '7      &    31', ' 28',
       "60'", '69', '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20',
       'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', ' & 19', '9 month', '25 to 35', '23 & 26',
       '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,   & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 month',
       '4', 'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8',
       '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ',
       '78', 'A.M.', '    &   14', '10 or 12', '31 or 33', '2½', '1',
       '13 or 14'], dtype=object)

In [ ]:
#Check Check Check